<!DOCTYPE HTML>

<html>
	<head>
		<title>New York New York</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">
					<div class="container">
						<div class="row">
							<div class="col-18">

								<!-- Logo -->
									<h1><a href="index.html" id="logo"><img src="../static/css/images/New_York_State_Image.jpg" 
										style="float:left; margin:50px 0px -20px 0px; cursor:pointer; cursor:hand; border:0" 
										width="150" height="100"  
										alt="New York State Image" /></a>
									</h1>
									
									<!-- Nav -->
									<nav id="nav">
									<a href="/">Homepage</a>
									<a href="/map">Interactive County Map</a>
									<a href="/yearly_attendance">Yearly Attendance</a>
									<a href="/2019_dynamic_scatter_plot">2019 Dynamic Scatter Plot</a>
									<a href="/mildonuts">Million Attendance</a>
								</nav>

							</div>
						</div>
					</div>
					<div id="banner">
						<div class="container">
							<div class="row">
								<div class="col-6 col-12-medium">

									<!-- Banner Copy -->
										<p>New York is well known for its City and Iconic Skyscrapers. Do you know that within New York state, 
											there are plenty of parks that are worth visiting? Yes, in this project, our team will be looking 
											at all the State Parks within each county in New York State</p>
										<a href="/map" class="button-large">Go on, show me the map!</a>

								</div>
								<div class="col-6 col-12-medium imp-medium">

									<!-- Banner Image -->
									<iframe width="560" height="315" src="https://www.youtube.com/embed/bIH7TVLqcJo?&autoplay=1"frameborder="0" 
									title="YouTube video player" frameborder="0" 
									allow="accelerometer; autoplay clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Features -->
				<section id="features">
					<div class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #1 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../static/css/images/Letchford_State_Park.jpg"
											width="232.5" height="150" alt="" /></a>
										<h2>Letchworth State Park</h2>
										<p>
											Letchworth State Park is often called the Grand Canyon of the East 
											thanks to its 17-mile gorge carved by the Genesee River. 
											The canyon walls reach up to 600 feet high in some places and there 
											are three major waterfalls as well as more than 50 smaller ones.
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #2 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../static/css/images/Watkins_Glen_State_Park.jpg"
											width="232.5" height="150" alt="" /></a>
										<h2>Watkins Glen State Park</h2>
										<p>
											Watkins Glen State Park is the most famous of the Finger Lakes State Parks, 
											with a reputation for leaving visitors spellbound. Within two miles, the 
											glen's stream descends 400 feet past 200-foot cliffs, generating 19 waterfalls
											 along its course.
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #3 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../static/css/images/Buttermilk_Falls_State_Park.jpg"
											width="232.5" height="150
											" alt="" /></a>
										<h2>Buttermilk Falls</h2>
										<p>
											Buttermilk Falls State Park takes its name from the foaming cascade formed by Buttermilk Creek as it 
											flows down the steep valley side toward Cayuga Lake. The upper park has a small lake, hiking trails 
											through woodlands and along the gorge and rim, picnic areas and playing fields.
										</p>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Feature #4 -->
									<section>
										<a href="#" class="bordered-feature-image"><img src="../static/css/images/Covid.jpg"
											width="232.5" height="150
											" alt="" /></a>
										<h2><a href="https://covid19vaccine.health.ny.gov/">COVID-19 Updates for New York State</a></h2>
										<p>
											All individuals 12 years of age and older that reside in the United States are eligible to receive the vaccine. 
											While the vaccination process is underway, New Yorkers should continue to wear a mask,
											 social distance, avoid large gatherings and follow all other health guidelines.
										</p>
									</section>

							</div>
						</div>
					</div>
				</section>
				
			<!-- Copyright -->
				<div id="copyright">
					&copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>