body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  padding: 0px 0px;
  border-radius: 3px;
  background-color: white;
  line-height: 20px;
  color: black;
  width: auto;
  text-align: center;
  font-size: 9px;
  opacity: 0.8;
}

.leg {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    text-align: center;
  }
