/* h3, h4, p {
    margin-left: 00px;
} */
/* body {
    background: lightgray;
} */

figure.figure {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 60% !important;
}

figcaption.figure-caption {
    font-weight: bold;
    font-size: large;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    text-align: left;
}

table {
    font-size: small;
}

div.jumbotron {
    padding-top: 40px;
    padding-bottom: 40px;
    background: lightgray;
}

p {
    font-size: normal;
}